#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: "Gill Sans Extrabold", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.input-container input,
.input-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-container input::placeholder {
  font-family: cursive;
  color: #888;
}

.input-container button {
  /* font-family: "Gill Sans Extrabold", sans-serif; */
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-container button:hover {
  background-color: #0056b3;
}

.paragraph-container {
  width: 100%;
  padding: 10px;
  background-color: #d5d2d2;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h2 {
    font-size: 1.25rem;
  }

  .input-container input,
  .input-container button {
    font-size: 0.875rem;
    padding: 8px;
  }
}